html
    head
        title="Node.js Basics"
        style.
            #main {
                font-size: 20px;
            }
            .title {
                display: flex;
                width:50rem;
                align-content: center;
            
            }
            .sep {
                width: 50rem;
                padding-left: 2rem;
                padding-right: 2rem;
                border: 1px solid black;
                heihgt: 1px;
            }
    body
        #main
            h1(class='title') NODE.JS BASICS
            .sep